{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "process": true
  },
  "overrides": [
    {
      "files": ["*Test.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
